-r requirements.txt
--index-url https://pypi.yelpcorp.com/simple
# TODO(DATAPIPE-167): Add the packages that don't exist yet to the interal Pypi
# and remove this extra-index-url
--extra-index-url https://pypi.python.org/simple/
flake8
ipython
mock
pre-commit>=0.4.2
pytest
pytest-cov
pytest-raisesregexp
